{%- assign image_rollover = block.settings.image_rollover -%}
{%- assign image = block.settings.image -%}

<div class="box" style="background-image:url('{{ image | img_url: "1200x" }}');">
    <h4>{{ block.settings.title | escape }}</h4>
    <a href="{{ block.settings.link }}" class="{% if zoom %}zoom text-overlay{% endif %} {% if image_rollover != blank %}rollover{% endif %}">
    </a>
</div>
