{%- assign image1 = section.settings.image1 -%}
{%- assign image2 = section.settings.image2 -%}
{% if section.settings.image1 != blank %}
<div class="hero" style="background-image:url('{{ image1 | img_url: "2000x" }}');" data-next="{{ image1 | img_url: "2000x" }}" data-next="{{ image2 | img_url: "2000x" }}">
{% else %}
<div class="hero" style="background-image:url('{{ "dog.jpg" | asset_url }}');">
{% endif  %}
<div id=dots>
	<div class=dot>
	</div>
	<div class=dot>
	</div>
</div>
</div>
{% schema %}
{
	"name": "Hero",
	"settings": [
	{
		"type": "image_picker",
		"id": "image1",
		"label": "First Image"
	},
	{
		"type": "image_picker",
		"id": "image2",
		"label": "Second Image"
	}
	],
	"presets": [{
		"name": "Hero",
		"category": "Image"
	}]
}
{% endschema %}

